@page
@model freshfarm.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<div class="container text-center mt-5">
    <h2>You have been logged out.</h2>
    <p><a asp-page="/Account/Login">Click here to log in again</a></p>
</div>
