@page
@model freshfarm.Pages.Account.ResetPasswordModel

<div class="container mt-5">
    <h1 class="mb-3">Reset Password</h1>
    <p>Please enter your new password below.</p>

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <!-- Hidden Fields for Email and Token -->
        <input type="hidden" asp-for="RPModel.Email" />
        <input type="hidden" asp-for="RPModel.Token" />

        <div class="mb-3">
            <label class="form-label" asp-for="RPModel.NewPassword">New Password</label>
            <input type="password" asp-for="RPModel.NewPassword" class="form-control" required />
            <span class="text-danger" asp-validation-for="RPModel.NewPassword"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="RPModel.ConfirmPassword">Confirm Password</label>
            <input type="password" asp-for="RPModel.ConfirmPassword" class="form-control" required />
            <span class="text-danger" asp-validation-for="RPModel.ConfirmPassword"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>

        <div>
            <a asp-page="/Account/Login">Back to Login</a>
        </div>
    </form>
</div>
